# To use the top directory freely, I ignore everything by default.

*

!.gitignore

!LICENSE
!README.md

!run/
!run/*
!bundle/
!bundle/*
!templates/
!templates/*
!libs/
!libs/**

!CMakeLists.txt
!.risundlerc.toml
!pch.hpp
